.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    //using flexbox: container properties
    display: flex;
    //flex-direction: row; //default
    justify-content: space-between;
    align-items: center;
}

// flex container
.content {
    display: flex;
}

// left sidebar
.sidebar {
    background: var(--color-grey-dark-1);
    // grow - shrink - basis(width of item)
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
//right container
.hotel-view {

    // flex: 0 0 82%;
    flex: 1; //grow as much as it can
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 1px solid var(--color-grey-light-2);
}

.description {
    // font-size: 1.4rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}
 
.user-reviews {
    // background-color: green;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    flex: 1; 

    display: flex;
    flex-direction: column;
    align-items: center;
}
